[Unit]
Description=https-dns-proxy
#After=network.target

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

#Type=oneshot
#RemainAfterExit=yes
#ExecStart=
#ExecStop=

Type=simple
#ExecStartPre=
ExecStart=/usr/local/bin/https_dns_proxy -p <proxyPort> -u nobody -g nogroup -r <resolver> -b 8.8.8.8,8.8.4.4,1.1.1.1
#ExecStartPost=

#ExecStop=
#ExecStopPost

#User=nobody
#WorkingDirectory=/path/to/wd
#Restart=always
#Environment=
[Install]
WantedBy=multi-user.target
