.DS_Store
*.swp
.idea/

/shellConfigs/local

/tools/docker/useful-docker-compose/qbittorrent/docker-compose.yaml
/tools/docker/useful-docker-compose/qbittorrent/downloads
/tools/docker/useful-docker-compose/qbittorrent/config
/tools/docker/useful-docker-compose/qbittorrent/env

/tools/docker/useful-docker-compose/filebrowser/data

/tools/dns/env

